body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #d68745;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a04d09;
    padding: 15px 30px;
}
.logo {
    color: #ffffff;
    font-size: 1,5em;
    margin: 0;
}
.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.nav-link a.hover {
    color: #633612;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #f8e9d2;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card {
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.menu-card img {
    width: 100%;
    border-radius: 10px;
}
.menu-card h3 {
      margin: 10px 0 5px 0;
}
.menu-card {
    color: #d68745;
    font-weight: bold;
}